name: .NET

on:
  push:
    branches: [ "main", "v8" ]
  pull_request:
    branches: [ "main", "v8" ]

env:
    POSTGRES_HOST: localhost
    POSTGRES_PORT: 5432
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgrespw

jobs:
  build:
    permissions:
      contents: read
      pull-requests: write
      checks: write

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_PASSWORD: postgrespw
          POSTGRES_PORT: 5432
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres

        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Restore tools
      run: dotnet tool restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-build --verbosity normal --logger "trx;LogFileName=test-results.trx" --collect:"XPlat Code Coverage" --results-directory ./coverage
    - name: Test packing
      run: dotnet pack --no-build -c Release -p:PackageVersion=7.0.0.1 -o publish
    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()
      with:
        name: .NET Tests
        path: coverage/test-results.trx
        reporter: dotnet-trx
    # https://reportgenerator.io/usage
    - name: Aggregate coverage files with ReportGenerator 
      uses: danielpalme/ReportGenerator-GitHub-Action@5.3.8
      with:
        reports: coverage/**/coverage.cobertura.xml
        targetdir: coveragereport
        reporttypes: Cobertura
    - name: Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: coveragereport/Cobertura.xml
        badge: true
        fail_below_min: false
        format: markdown
        hide_branch_rate: false
        hide_complexity: true
        indicators: true
        output: both
        thresholds: '60 80'
    - run: mv code-coverage-results.md dotnet-code-coverage-results.md
    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        header: .NET
        message: .NET coverage
        recreate: true
        path: dotnet-code-coverage-results.md
